* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./Assets/images/background.png);
    background-position: center;
    background-size: cover;
}

#grid {
    display: grid;
    grid-template-columns: repeat(15, 45px); 
    grid-template-rows: repeat(15, 45px);
    height: 750px; 
    width: 750px;  
    z-index: 1;
}

.cell {
    position: relative; 
    width: 45px;  
    height: 45px; 
    border: 0.5px transparent;
    z-index: 2;
}

.outer-wall {
    background-color: #333; 
    background-image: url(./Assets/images/walls.png);
    background-size: cover;
    border: 0.5px solid;
}

.destructible {
    background-color: gray; /* Red color for destructible walls */
    background-image: url(./Assets/images/indestructible.png);
    background-size: cover;
    background-position: center;
    border: 0.5px solid;
}

.indestructible {
    background-color: darkgray;
    background-image: url(./Assets/images/walls.png);
    background-position: center;
    background-size: cover;
    border: 0.5px solid;
}

.floor {
    background-color: #ecf0f1; /* Light gray for floor spaces */
    background-image: url(./Assets/images/floor.png);
    background-position: center;
    background-size: cover;
    border: 0.5px transparent;
}

.player {
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Blue color for players */
    position: relative; 
    z-index: 5;
}

.player1 {
    background-image: url(./Assets/images/bombercito.gif);
    background-size: 50px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.player2 {
    background-image: url(./Assets/images/bombercito\ y\ dino.gif);
    background-size: 45px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.bomb {
    width: 40px;  
    height: 40px; 
    position: relative; 
    left: 50%; 
    top: 50%;  
    transform: translate(-50%, -50%); 
    border-radius: 50%; 
    background-image: url(./Assets/images/bomba.gif); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    z-index: 5;
}


/* Hearts display for player health */
.player-container {
    display: flex;
    justify-content: space-around; 
    margin-top: 20px; 
    text-align: center; 
}

.player1-info {
    position: absolute;
    top: 20px; 
    left: 20px;
    z-index: 10; 
    color: blue; 
    font-size: 20px; 
}

.player2-info {
    position: absolute;
    top: 20px; 
    right: 20px;
    z-index: 10; 
    color: red; 
    font-size: 20px; 
}
.hearts {
    display: flex;
    justify-content: center; 
    margin: 10px 0;
}

.heart {
    width: 20px;
    height: 20px;
    margin: 0 2px;
}

.heart.visible {
    visibility: visible; 
}

.menu {
    text-align: center;
    justify-content: center;
    display: flex;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.0); 
        opacity: 0.7;
    }
    100% {
        transform: scale(0); 
        opacity: 0;     }
}

.explode {
    animation: explode 0.5s ease-out forwards; 
    z-index: 5;
}

#timer {
    position: absolute; 
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 20px; 
    font-weight: bold; 
    text-align: center; 
}

.player1-hearts {
    font-size: 25px;
}

.player2-hearts {
    font-size: 25px;
}

.explosion-animation {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    top: 50%; 
    left: 50%; 
    z-index: 10; 
    background-image: url(./Assets/images/explosion.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%); 
}

.result-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    display: none; /* Hidden by default */
}

.hidden {
    display: none;
}

